<link rel="stylesheet" href="/stylesheets/style.css">
<div class="main">
    <img src="/Images/main.jpg" alt="image" id="main-img">
    <div class="intro">
        <h1 class="open-sans">
            I am Sanchit an aspiring Web developer looking forward to be the best at what I do.
        </h1>
    </div>
</div>