<%- include('../layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<nav>
    <div>
        <li>Sanchit Yadav</li>
    </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>         
        </ul>
</nav>