<link rel="stylesheet" href="/stylesheets/style.css">
<div class="about">
    <h1>About</h1>
    <p class="about-para"> am currently pursuing my bachelor's degree and learning new things  everyday. I am teaching myself web development and business management skills. I am a hard working person who knows when to work smart. I got introduced to softwares when I got my first personal computer and got interested immediately in it.</p>
</div>