<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Sanchit Yadav</title>
</head>
<body>
    <nav>
        <h1>Sanchit Yadav</h1>
        <ul>
            <li><a href="#main">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="main">
        <img src="/public/Images/main.jpg" alt="image" id="main-img">
        <h1 class="open-sans">
                I am Sanchit an aspiring Web developer looking forward to be the best at what I do.
        </h1>
    </div>
    <div class="about">
        <h1>About</h1>
        <p class="about-para">I am currently pursuing my bachelor's degree and learning new things  everyday. I am teaching myself web development and business management skills. I am a hard working person who knows when to work smart. I got introduced to softwares when I got my first personal computer and got interested immediately in it.</p>
    </div>
    <h1 >My Skills</h1>
    <section class="skills">
        <div class="text">
            From the beginning of my journey I have learned a lot and gained a lot of skills and becoming a expert in them and learning new everyday.
        </div>
        <div class="skills-img">
            <img src="/public/Images/js.png" alt="js logo" class="logo">
            <img src="/public/Images/node-js.png" alt="node-js" class="logo">
            <img src="/public/Images/express.png" alt="express js" class="logo">
            <img src="/public/Images/npm.png" alt="npm" class="logo">
            <img src="/public/Images/mongodb.png" alt="mongodb" class="logo">
            <img src="/public/Images/git.png" alt="git" class="logo">
            <img src="/public/Images/html5.png" alt="html" class="logo">
            <img src="/public/Images/css3.png" alt="css" class="logo">
            <img src="/public/Images/bootstrap.png" alt="bootstrap" class="bootstrap">
        </div>
    </section>
</body>
</html>