@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Satisfy&display=swap');

body {
    padding: 0%;
    margin: 0;
    background-color: #343232;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Satisfy', cursive;
}

nav h1 {
    color: #f1faee;
    text-shadow: 5px 2px 2px #219ebc;
    font-size: 3em;
}

nav h1:hover {
    text-shadow: .1em .1em 0 #219ebc;
    cursor: pointer;
}

ul li {
    float: left;
    list-style-type: none;
}



ul li a {
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    margin: 2em;
}

ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f1faee;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10em 10% 4em 10%;
    max-width: 90%;
}
.main #main-img{
    width: 90%;
    margin-right: 5em;
    height: 500px;
    box-shadow: 15px 15px 0px #000000;
    transition: all 0.5s;
}

.main #main-img:hover{
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 5%;
}



.open-sans{
    margin-top: 0.5em;
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #f1faee;
}
.about{
    margin-top: 15em;
    margin-left: 10%;
    margin-right: 10%;
}
.about h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    font-weight: bolder;
    color: #f1faee;
    margin-bottom: 1.4em;
}

.about p{
    font-size: 3em;
    color: #f1faee;
    font-family: 'Open Sans', sans-serif;
}

.skills{
    margin-left: 10%;
    margin-right: 10%;
}

.skills .skills-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-img img{
    margin-right: 3em;
    height: 100px;
    margin-bottom: 4em;
}
.skills .text{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    color: #f1faee;
    margin-bottom: 4em;
}
.skills-section{
    margin-top: 3em;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 5em;
    color: #f1faee;
    margin-bottom: 2em;
}
.contact{
    margin-bottom: 10em;
}
.contact p{
    font-family: 'Open Sans', sans-serif;
    color: #f1faee;
    font-size: 2em;
    margin-bottom: 3em;
    text-align: center;
}
.contact h1{
    margin-bottom: 1em;
}
.contacts a img{
    height: 150px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}