@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inconsolata:wght@500&display=swap");

.name {
  margin: 4em 1em;
  width: 90%;
  color: #22c9e9;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  -webkit-text-stroke: 2px #22c9e9;

  /* text-shadow: 3px 3px 20px #89fc00, -2px 1px 30px #89fc00; */
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878,
    -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383,
    -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e,
    -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}
.name:after {
  content: "";
  position: absolute;
  width: 22%;
  transform: scaleX(0);
  height: 5px;
  bottom: -12px;
  left: 0;
  background-color: #22c9e9;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.name:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.list {
  list-style: none;
  display: flex;
}

.list-item {
  font-size: 2em;
  padding-right: 0.5em;
}
.list-item-link {
  text-decoration: none;
  color: #486774;
  transition: all 0.2s ease-in;
}
#instagram:hover {
  color: #ef233c;
  transform: rotateX(180deg);
}
#linkedin:hover {
  color: #0072b1;
  transform: rotate3d(0, 2, 0, 360deg);
}
#twitter:hover {
  color: #00acee;
  transform: rotateZ(360deg);
}
.list-item-link-img {
  width: 7%;
  transition: all 0.2s ease-in;
}

.list-item-link-img:hover {
  transform: rotateY(180deg);
}

#icon {
  margin-left: 50%;
  margin-top: 2em;
  cursor: pointer;
  font-size: 3em;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.intro {
  display: flex;
  width: 90%;
  align-items: center;
}
.intro-img {
  width: 500%;
  margin-right: 3em;
  border-radius: 30px;
  cursor: pointer;
}
.para {
  font-size: 1.3em;
  font-family: "Inconsolata", monospace;
  line-height: 40px;
}


@media (max-width: 480px) and (min-width: 320px) {
  .name {
    font-family: "Dancing Script", cursive;
    margin: 5em 0.5em;
    font-size: 40px;
    text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878,
      -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383,
      -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e,
      -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  .name:after {
    content: "";
    position: absolute;
    width: 52%;
    transform: scaleX(0);
    height: 5px;
    bottom: -12px;
    left: 65px;
    background-color: #22c9e9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .name:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .list-item-link-img {
    width: 30%;
  }
  .list {
    margin-left: 3.5em;
  }
  #icon {
    margin-left: 47%;
  }
  .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro-img{
    width: 110%;
    margin-left: 2em;
    margin-right: 0.4em;
  }
  .para{
    margin-top: 4em;
    line-height: 23px;
    margin-left: 2em;
    margin-right: 0.4em;
  }
}
